.grid-container{
    display: flex;
    justify-content: center;
}
.grid-container:hover{
    cursor: pointer;
}
.grid-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.table-heading{
    text-align: left;
}
.data{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}